Flask==3.0.3
Werkzeug==3.0.3
psycopg2-binary==2.9.9
mercadopago==2.2.3
python-dotenv==1.0.1
requests==2.32.3
Pillow==10.4.0
gunicorn==22.0.0
cryptography==42.0.8
Jinja2==3.1.4
MarkupSafe==2.1.5
itsdangerous==2.2.0
click==8.1.7
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
urllib3==2.2.2
packaging==24.1
pycparser==2.22
cffi==1.17.0
pyngrok==7.1.6
